#mainPage {
    display: none;
}

.playerBoard, .computerBoard {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    padding-bottom: 20px;
}

.cell {
    border: 1px solid #39FF14;
}

.fleet {
    color: red;
}

.block{
    background-color: rgb(89, 179, 71);
    width: 25px;
    height: 25px;
    border: #5A5A5A solid 1px;
  }


  .dragging {
    opacity: 0.5;
  }

  .ship {
    width: 20px;
    padding-bottom: 20px;
  }