#mainPage {
    display: none;
}

.playerBoard, .computerBoard {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    padding-bottom: 20px;
}

.row-p1, .cell-p1, .row-p2, .cell-p2 {
    border: 1px solid #39FF14;
}