#mainPage {
    display: none;
}

body {
    background-color: rgb(190, 224, 238);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23369af4' fill-opacity='0.21'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    overflow-x: hidden;
      
}
@font-face {
    font-family: 'Rum';
    src: url('fonts/rumIsGone.ttf')
  }

* {
    font-family: 'Rum';
    text-align: center;
}

.playerBox {
  display: grid;
  grid-template-rows: repeat(2, 50px, 600px);
}

.playerBoard, .computerBoard {
    display: grid;
    grid-template-columns: repeat(10, 55px);
    grid-template-rows: repeat(10, 55px);
    padding-bottom: 20px;
}

.playerName {
  grid-row: 1 / 2;
  padding-bottom: 25px;
}

.playerBoard {
  grid-row: 2 / 3;
}

.computerBox {
  display: grid;
  grid-template-rows: repeat(2, 50px, 600px);
}

.computerName {
  grid-row: 1 / 2;
  padding-bottom: 25px;
}

.playerBoard {
  grid-row: 2 / 3;
}

.cell{
    margin: 1px;
    border: none;
    border-radius: 5px;
    
}

#playerBoardColour {
    background-color: #8ccec3;
}

#computerBoardColour {
    background-color: #384955;
}

input {
    height: 40px;
    text-align: center;
    width: 300px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.fleet {
    color: red;
}

.block{
    background-color: #384955;
    width: 55px;
    height: 55px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    
  }

  .dragging {
    opacity: 0.5;
  }

  .ship {
    width: 55px;
  }

  #occupied {
    background-color: #384955;
  }

  #computerBoardMissed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #384955;
    color: rgb(255, 255, 255);
    font-size: 65px;
  }

  #playerBoardMissed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ccec3;
    color: rgb(255, 255, 255);
    font-size: 65px;
  }

  #hit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #384955;
    color: rgb(255, 0, 0);
    font-size: 65px;

  }

  .playerSelection {
    display: grid;
    grid-template-rows: repeat(3, 50px, 250px, 50px);
  }

  .heading {
    grid-row: 1 / 2;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shipImage {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input {
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: repeat(2);
  }

  .inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .playerOneInput {
    grid-row: 1 / 2;
  }

  .submit {
    gap: 15px;
    grid-row: 2 / 3;
    background-color: #9795aad5;
    height: 40px;
    text-align: center;
    width: 100px;
    border-left: solid 1px rgb(190, 224, 238);
    border-bottom: none;
    border-top: none;
    border-right: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
  }

  .boards {
    display: grid;
    grid-template-columns: repeat(2);
  }

  .player {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .computer {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .addShips {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    padding-left: 160px;
  }

  #carrier {
    grid-column: 1 / 2;
  }

  #battleship {
    grid-column: 2 / 3;
  }

  #submarine {
    grid-column: 3 / 4;
  }

  #destroyer{
    grid-column: 4 / 5;
  } 

  #patrolBoat{
    grid-column: 5 / 6;
  }